@(id: Long, contactForm: Form[Contact])

@import helper._


<h1>Edit computer</h1>

    <div class="panel-body">
        <form action="@routes.Contacts.update(id)" method="POST">
            <fieldset>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input class="form-control" placeholder="First Name" name="firstName" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input class="form-control" placeholder="Last Name" name="lastName" type="text">
                    </div>
                </div>
                <input class="btn btn-success btn-block" type="submit" value="Save">
                <input class="btn btn-danger btn-block" type="reset" value="Reset">
            </fieldset>
        </form>
    </div>
