@(message: String,form: Form[Application.Login])


@main("Welcome") {

    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <hr/>
                        <hr/>

                        <h3 class="panel-title">Please sign in</h3>
                        @if(form.hasGlobalErrors) {
                            <p class="alert alert-danger">
                            @form.globalError.message
                            </p>
                        } else {
                            <p class="alert alert-success">
                            @flash.get("success")
                            </p>
                        }
                    </div>
                    @helper.form(routes.Application.authenticate) {

                    <div class="panel-body">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                        <input class="form-control" placeholder="Login" name="login" value="@form("login").value" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                    </div>
                                </div>
                                <input class="btn btn-success btn-block" type="submit" value="Log in">
                                }

                        <hr/>

                        <a href="@routes.Registration.register()" class="btn btn-primary btn-block">Sign up</a>
                    </div>
                </div>
            </div>
        </div>


    </div>

}
