@(userForm: Form[User])

@main("Register Page"){
<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <hr/>
                        <hr/>
                        <h3 class="title">Account register</h3>

                    </div>
                </div>
                <div class="panel-body">
                    <form action="@routes.Registration.register()" method="POST">
                        <fieldset>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    <input class="form-control" placeholder="Login" name="login" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                    <input class="form-control" placeholder="e-mail" name="email" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                            </div>
                            <input class="btn btn-success btn-block" type="submit" value="Sign up">
                            <input class="btn btn-danger btn-block" type="reset" value="Reset">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
}